APP_NAME="Masjid Baiturrahman"
APP_ENV=local
APP_KEY=base64:J/ALfFM5sfYtwZTIsFkJSG55GDBnOvA5f6JFmyghwpk=
APP_DEBUG=true
APP_URL=http://masjid-resik.test

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=masjidb1_masjidbaiturrahman
DB_USERNAME=root
DB_PASSWORD=
COLLECTAPI_KEY="apikey 5rYbb5t70SReGAQhAwROqR:2Vjpma3irrDmHPtPQCCaXx"
TINYMCE_API_KEY=up5m7ku71lzo4ahvivd2pxhqxsq6ioz740em4ni4z3ofu40c

# Midtrans
MIDTRANS_MODE="sandbox"

# SANDBOX
MIDTRANS_SANDBOX_CLIENT_KEY=
MIDTRANS_SANDBOX_SERVER_KEY=
MIDTRANS_SANDBOX_MERCHANT_ID=

# PRODUCTION
MIDTRANS_PRODUCTION_CLIENT_KEY=
MIDTRANS_PRODUCTION_SERVER_KEY=
MIDTRANS_PRODUCTION_MERCHANT_ID=

SESSION_DRIVER=database
SESSION_LIFETIME="120"
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=starseed768@gmail.com
MAIL_PASSWORD=gihrelujvphghnmi
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=masjid@masjidbaiturrahman.or.id
MAIL_FROM_NAME="Masjid Baiturrahman"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=lax
